
.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ff9800, #fb8c00);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-p5);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    font-family: 'Poppins';
    font-weight: 600px;
    
}

.botao a:hover{
    background: linear-gradient(#ef6c00, #e65100);
}
