.texto-grande{
    font-size: 4rem;
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.texto-medio{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 1.5rem;
    line-height: 36px;
}